/* Header */
.hero {
    background-color: transparent;
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
}

.hero-body {
    padding: 0;
    margin-top: 0;
}

.hero .title {
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.hero .subtitle {
    color: var(--text-color);
    font-size: 1.5rem;
}